{
    "extension": [
        ".ts",
        ".tsx"
    ],
    "exclude": [
        "**/*.d.ts",
        "dist/**/*",
        "coverage/**/*",
        "test/**/*",
        "wasm/**/*"
    ],
    "reporter": [
        "text",
        "lcov"
    ],
    "report-dir": "./coverage/",
    "all": true
}